<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="role_state" jdbcType="TINYINT" property="roleState" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    r.id, r.role_name, r.create_time, r.updater, r.role_state, r.creator, r.update_time,r.remark
  </sql>

  <select id="getRoleListByUserId" resultType="com.example.demo.entity.Role">
    select <include refid="Base_Column_List"></include>
    from t_role r,t_user_role ur
    where r.id = ur.role_id
    and ur.user_id = #{userId}
  </select>


</mapper>